<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineUtils.Extensions" version="1.1.0" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.3.3" targetFramework="net472" />
  <package id="McMaster.Extensions.CommandLineUtils" version="2.2.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
</packages>